.article {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.article-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.article-header {
  margin-bottom: 10px;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button span {
  margin-left: 5px;
}
