footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente il contenuto */
}

.footer-column {
  width: 25%;
}

.footer-column img {
  width: 100%; /* Per adattare le dimensioni delle immagini al loro contenitore */
  max-width: 75px; /* Limita la larghezza massima delle immagini */
}

.footer-column p {
  margin-top: 10px; /* Aumenta lo spazio tra il testo e le immagini */
  font-size: 14px; /* Rende il testo più leggibile */
}

.footer-column h3 {
  margin-bottom: 10px; /* Aggiunge spazio sotto l'intestazione */
}

.footer-column ul li {
  margin-bottom: 8px; /* Riduce lo spazio tra i link */
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}
